[Unit]
Description="Alpenhorn: announce files to the DB"

[Service]
Type=simple
Environment=ALPENHORN_LOG_FILE=/var/log/alpenhorn/alpenhornd.log
Environment=ALPENHORN_IMPORT_RECORD=/etc/alpenhornd_import.dat
ExecStart=/usr/local/bin/alpenhornd

[Install]
WantedBy=multi-user.target